.w3-bar.w3-orange
  a.w3-bar-item.w3-button(href='/') AllegedScumbag
  a.w3-bar-item.w3-button.w3-green.w3-right(href='#') Go
  input.w3-bar-item.w3-input.w3-right(type='text', placeholder='Search..')
  a.w3-bar-item.w3-button.w3-mobile(href='/add') Add
  .w3-dropdown-hover.w3-mobile
    button.w3-button Explore
    .w3-dropdown-content.w3-card-4
      a.w3-bar-item.w3-button(href='#') Recent Scum
      a.w3-bar-item.w3-button(href='#') Most Viewed
      a.w3-bar-item.w3-button(href='#') Trending
      a.w3-bar-item.w3-button(href='#') Advanced Search
  a.w3-bar-item.w3-button.w3-mobile(href='/faq') Faq



