extends layout

block content
  h1 Step 1: #{title}
  form
    input(type="text" required)
    br
    label name
    br
    br
    input(type="phone")
    br
    label phone number
    br
    br
    input(type="email")
    br
    label email 
    br
    hr
    p What did the scumbag do?
    input(type="text" required)
    br
    label crime/offense
    br
    br
    input(type="date" required)
    br
    label date of offense
    br
    br
    label details
    br
    textarea(type="text" required)
    br
    br
    button submit
